<div class="col">
    <div class="card rounded-3 employee-card">
        <div class="card-header py-3">
            <h4>@Employee.FullName</h4>
        </div>
        <div class="card-body employee-card text-center">
            <div class="mb-3">
                <img src="@Employee.ImageName" alt="@Employee.FullName" class="employee-img rounded-circle img-fluid" />
            </div>
            <button class="btn btn-primary btn-sm mb-1" @onclick="@(async () => await EmployeeQuickViewCLicked.InvokeAsync(Employee))">Quick View</button>
            <button class="btn btn-outline-primary btn-sm mb-1" @onclick="(() => NavigateToDetails(Employee))">Full Details</button>
            <a id="employee-edit-link" href="@($"employeeedit/{Employee.EmployeeId}")" class="btn btn-outline-primary btn-sm mb-1">Edit employee</a>
        </div>
    </div>
</div>
