@using BethanysPieShop.Admin.Domain.ValueObjects;
@using BethanysPieShop.Admin.Domain.Projections;
@model Page<CategorySummary>;

<h2>Categories</h2>
<hr/>

@if (!Model.Items.Any())
{
    <tr><td colspan="3" class="text-center">No categories found.</td></tr>
}
else
{
    <table class="table table-condensed table-bordered">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Date Added</th>
            <th>Actions</th>
        </tr>
        @foreach (var category in Model.Items)
        {
            <tr>
                <td>@category.Id</td>
                <td>@category.Name</td>
                @if (@category.DateAdded.HasValue)
                {
                    <td>@category.DateAdded.Value.ToShortDateString()</td>
                }
                else
                {
                    <td>Unknown</td>
                }
                <td>
                    <a asp-action="Details" asp-route-id="@category.Id">Details</a>
                    <a asp-action="Edit" asp-route-id="@category.Id">Edit</a>
                    <a asp-action="Delete" asp-route-id="@category.Id">Delete</a>
                </td>
            </tr>
        }
    </table>
}

@{
    string previousButtonDisabled = !Model.HasPreviousPage ? "disabled" : "";
    string nextButtonDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Paged" asp-route-pageNumber="@(Model.PageNumber - 1)" class="btn btn-default @previousButtonDisabled">Previous</a>
<a asp-action="Paged" asp-route-pageNumber="@(Model.PageNumber + 1)" class="btn btn-default @nextButtonDisabled">Next</a>

<P>
    <a class="btn btn-primary" asp-action="Add">Add new category</a>
</P>
