@page

@model BookingsModel
@{
    ViewData["Title"] = "Your Bookings";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-12">
        @*
        <h6>@Model.Greeting</h6>
        <br/>
        *@
    </div>
</div>

@if (Model.BookingSuccess)
{
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success">
                <strong>You've successfully created a booking!</strong>
            </div>
        </div>
    </div>
}

@foreach (var date in Model.CourtBookings)
{
    <div class="row">
        <div class="col-md-12">
            <h4>@date.Key.ToString("D")</h4>

            @foreach (var booking in date)
            {
                <p><strong>Court @booking.Court.Id</strong>: @booking.StartDateTime.Hour.To12HourClockString() to @booking.EndDateTime.Hour.To12HourClockString()</p>
            }

            <br/>
        </div>
    </div>
}
